<div class="col-md-12 center">
  <img src="/assets/refin-intro.png" />
</div>

<div class="col-md-12 center" id="welcome-btn">
  <span>
    <%= link_to "ลงทะเบียน", new_user_registration_path,
      :class => "btn btn-info btn-lg text-white" %>
    <%= link_to "เข้าสู่ระบบ", surveyor_path,
      :class => "btn btn-success btn-lg text-white" %>
  </span>
</div>
