/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#step {
    margin-top: 20px;
}

#note {
  margin-top: 5px;
  color: red;
  font-size: 12px;
}

#contact {
  margin-top: 10px;
  color: green;
  background-color: #C1F7DA;
  font-size: 12px;
}

#not-done {
  color: brown;
  font-size: 1.5em;
  text-align: center;
  margin: 100px;
}

#objective {
  color: green;
  padding-bottom: 10px;
}

#secret {
  color: red;
  font-weight: bold;
  padding-bottom: 10px;
}

#footer {
  text-align: center;
}

#thank {
  font-size: 1.6em;
  color: blue;
  margin-bottom: 20px;
}

#bps {
  font-size: 1.2em;
  color: blue;
  margin-bottom: 20px;
}

#id_result {
  margin-top: 100px;
}

#result_1 {
  line-height: 1.5em;
  padding: 10px;
  font-size: 1.2em;
}

#result_2 {
  line-height: 1.5em;
  padding: 10px;
  font-size: 1.2em;
}

#refin_text {
  color: blue;
  display: none;
  font-weight: bold;
}

#manual_text {
  color: blue;
  display: none;
  font-weight: bold;
}

#help_text {
  color: blue;
  display: none;
  font-weight: bold;
}

#help_text p {
  font-size: 0.8em;
}

#logo {
  width: 80%;
}

.alert {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

/*flash*/
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;  
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

div#surveyor {
  margin-top: 70px;
}

#welcome-btn {
  margin-top: 25px;
}

.buffer-top {
  margin-top: 100px;
}

.buffer-left {
  margin-left: -50px;
}

.margin-left {
  margin-left: -50px;
}

.navbar-custom {
  background-color: #206020 !important;
}

li.hover-nochange a {
  background-color: #206020 !important;
}

.navbar-brand {
  color: #0099ff !important;
  font-size: 2em !important;
}

.bdr-right {
  border-right: 0px solid #b3b3b3;
  height: 70px;
  text-align: center;
}

/* START OF Change the Navbar Colors/Font/Size */
/* Adjust Menu (red) text color, (Garamond) font-family, (1.5em) font-size  */

.navbar .nav > li > a, .navbar .nav > li > a,
.navbar .nav > li.current-menu-item > a, 
.navbar .nav > li.current-menu-ancestor > a {
  color:          #009933 !important;                        
  background-color: lightblue !important;
  font-family:    Verdana;
  font-size:      1.5em;
}

ul.nav-pills > li.admins.active > a,
ul.nav-pills > li.admins.active > a:hover,
ul.nav-pills > li.admins.active > a:focus{
  color: #0B6121;
  font-weight: bold;
  background-color: #A9F5A9;  
} 

.vertical-scrollbar
{
   overflow-x: hidden; /*for hiding horizontal scroll bar*/
   overflow-y: auto; /*for vertical scroll bar*/
}

ul li a { 
  display: block;
  /* height: 70px; */
  /* line-height: 70px; */
  /* text-align: center; */
  color: red;
}

a:hover {
  color: blue !important;
  background-color: #0099ff !important;
}

.q_label {
  color:          red !important;
  font-family:    Verdana;
  font-size:      2em;
}

div#score, div#hpiscore {
}

#score_tbl {
  width: 100%;
}

.navbar {
  position: relative;
  height: 70px;
}

.container .navbar-nav {
  height: 70px;
}

div.navbar-header {
  background-color: #206020 !important;
  height: 70px;
}

.vcenter {
  display: inline-block;
  vertical-align: center;
  float: none;
}

th {
  text-align: center !important;
}

td {
  text-align: left;
}

.found {
  background-color: yellow !important;
}

.table-striped>tbody>tr>th.found {
   background-color: yellow !important;
}

.lh-35 {
  padding-top: 10px !important;
  height: 35px !important;
}

a:visited {
  color: black !important;
}

.img-responsive {
  margin: 0 auto !important;
}

.btn-xl {
  font-size: 20px !important;
}

.show-email {
  background-color: white;
  line-height: 20px;
  font-size: 1em !important;
  margin-top: 15px;
  margin-left: 20px;
}

div.text-center {
  text-align: center !important;
}

.text-white {
  color: white !important;
}

.minus-top {
  top: -100px !important;
}

.q_label span {
  color: green !important;
  line-height: 50px !important;
  background-color: lightgreen !important;
}

.survey_title {
  display: inline-block;
  margin-bottom: 10px;
  color: white;
  foreground-blend-mode: overlay;
  background: linear-gradient(to right,#ffaa00 20%,
             #ea1688 40%, #eb2e2e 60%,#fde92e 80%,#009e54 100%);
}

#print_btn {
    margin-top: 0 !important;
    padding-top: 5px !important;
}

#bmi_btn {
  margin-top: 0px !important;
  height: 36px;
  padding: 2px;
}

legend span {
  font-size: 14px !important;
}

.title {
    color: #107896;
}

label {
    color: #f26d21;
    font-size: 14px !important;
}

select[name*="answer_id"] {
    font-size: 14px !important;
    color: green;
}

span, label {
    color: #f26d21;
    font-size: 16px !important;
}

.title {
    color: #107896;
    font-size: 20px !important;
    margin-top: 10px;
    margin-bottom: 10px;
}

.string {
    font-size: 18px !important;
    color: green;
}

.q_label span {
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    font-size: 20px !important;
    color: #004D00 !important;
    background: linear-gradient(to right, yellow, green);
}

.q_default span {
    color: green;
    font-size: 18px !important;
}

.q_label span {
    font-size: 20px !important;
}

.q_grid th {
    font-size: 16px;
    color: green !important;
    padding-right: 30px;
    line-height: 20px !important;
}

input[type=radio]{
    margin-left: 15px !important;
}

legend span {
    color: green !important;
    font-size: 18px !important;
}

.show-email {
    position: absolute;
    background-color: white;
    font-size: 1em !important;
    right:0;
    top: 60px;
}

.show-email a {
    color: white !important;
    font-size: 1em !important;
    margin-right: 10px;
}

select option {
    color: red;
    font-size: 14px;
}

select[name*="answer_id"]{
    color: blue;
}

input.integer {
    color:blue;
}

.center {
    text-align: center;
}

img.center {
    position: absolute;
    left: -40px;
    top: 0px;
}

.report-title {
    font-weight: bold;
    font-size: 20px;
    color: green;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#item {
    background-color: #e6ffe6;
    display: table-cell;
    vertical-align: middle;
}

#item a {
    color: white !important;
}

.sc {
    font-size: 12px !important ;
    font-weight: bold;
    text-align: center;
}

.x1 {
  display:block !important;
  background-color: black !important;
  color: white !important;
}

.x2 {
  display:block;
  background-color: red;
  color: white;
}

.x3 {
  display:block;
  background-color: yellow;
  color: brown;
}

.x4 {
  display:block;
  background-color: green;
  color: lightgreen;
}

.brand img {
    left:0;
    right:0;
    margin:auto;
}

.d0 { background-color: #E6FFE6 !important }
.d1 { background-color: #F7F6B3 !important }
.d2 { background-color: #DBEDDF !important }
.d3 { background-color: #FCDDD3 !important }
.d4 { background-color: #D6BD95 !important }
.d5 { background-color: #F5D796 !important }
.d6 { background-color: #DDD4E7 !important }
.d7 { background-color: #E5F3FC !important }
.d8 { background-color: #77C9F1 !important }
.d9 { background-color: #F5BCC2 !important }
.d10 { background-color: #E6FFE6 !important }

.d0, .d10 {
    font-weight: bold;
    color: green;
}

table, th, td {
    border: 1px solid #B0B0B0;
}

a.fx {
  font-family: Verdana !important;
  background-color: #ccf2ff !important; 
}

label {
    width: 100% !important;
}

#map-container {
    width: 100%;
    height: auto;
    border-radius: 16px 16px;
    border-color: #fff;
    border-style: solid;
    box-shadow: 2px 2px 10px #B1B1B1;
    border-width: 7px;
    left: 0;
    margin: auto;
}

#map-canvas {
    height: 284px;
    width: 100%;
}

.pad-top {
    padding-top: 20px;
}

a[href ~= '/admins'] {
    display: none;
}

ul.admins a {
  font-size: 1em;
  font-weight: bold;
  color: green;
  background-color: #b3ffe6;
}

input[readonly=readonly] {
  background-color: #F6CEE3;
}

input.string {
  font-size: 0.8em !important;
  width: 250px !important;
}

.btn-info.search {
  height: 28px;
  line-height: 16px;
  vertical-align: top;
  color: white;
}

#custom-search-input {
    margin-top: 10px;
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input {
    border: 0;
    box-shadow: none;
}

#custom-search-input button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
    font-size: 23px;
}

.container-fluid {
  margin-top: 20px !important;
}

::-webkit-input-placeholder {
   color:#E0E0E0;
}

/* center Kaminari pagination navigation */
.text-center {
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
}

div.pagination-centered {
  text-align: center;
}

#hpiscore_tbl {
  width: 100%;
}

#hpiscore_tbl th {
  text-align: right !important;
}

#admin_address {
 width: 600px;
}

#qr-happino {
  position: absolute;
  left: 0;
  top: 50px;
  width: 100px !important;
  height: 100px !important;
}

.hpi {
  margin-left: 200px !important;
}

div.hpi_id {
  margin-left: -20px;
}

span.qr-fb {
  position: absolute !important;
  left: 0;
  right:0;
  top:50px;
  z-index: 1;
}

img#qr-happino {
  position: absolute;
  left: 0;
  top: -10px;
  width: 100px !important;
  height: 100px !important;
}

img#fb-happino {
  position: absolute;
  left: 110px !important;
  top: 0px !important;
  width: 75px !important;
  height: 75px !important;
}

div#admins {
  margin-left: 40px;
  width: 100%;
}

table#members {
  width: 100% !important;
}

div#members_wrapper {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

div#score_dim {
}

#user_email, #user_password {
  width: 250px;
}

input[name="finish"]{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px !important;
  color: #ffffff;
  padding: 10px 20px 10px 20px !important;
  margin-bottom: 200px;
  background: -moz-linear-gradient(
    top,
    #42aaff 0%,
    #003366);
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(#42aaff),
    to(#003366));
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #003366;
  -moz-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,255,255,0.5);
  -webkit-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,255,255,0.5);
  box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,255,255,0.5);
  text-shadow:
    0px -1px 0px rgba(000,000,000,0.7),
    0px 1px 0px rgba(255,255,255,0.3);
}

.right {
  text-align: right;
}

.pad-right-20 {
  padding-right: 20px !important;
}

.progress {
  background-color: #bbb !important;
}

.table tbody > tr > td {
  vertical-align: middle !important;
}

.table thead > tr > th {
  vertical-align: middle !important;
}

.table > tbody > tr > td > .progress {
  margin-bottom: 0px !important;
}

input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #e0bbad;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #e0bbad;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #e0bbad;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #e0bbad;
}

